@charset "UTF-8";

body {
  -webkit-writing-mode: vertical-rl;
}

body, div, p {text-indent:0;}

nav ol {
  padding-top: 5%;
  line-height: 1.5;
  list-style:none;
}

h1, h2, h3, h4, h5, h6 {
  font:normal normal 1.0em sans-serif;
  line-height: 1.2;
  text-indent:0;
  text-align: left;
}

h1, h2 {font-size: 1.4em;}
h2.author {text-align: right;}

h3 {
  text-indent: 10%;
  font-size: 1.3em;
}

h4 {
  text-indent: 5%;
  font-size: 1.2em;
}

h5 {
  text-indent: 5%;
  font-size: 1.1em;
}

div.jisage_3 {padding-top: 5%;}

div.chitsuki_0 {
  text-align: right;
  margin-right: 0;
}

em.sesame_dot {
  font-style: normal;
  -webkit-text-emphasis-style: filled sesame;
}

span[dir="ltr"] {-webkit-text-combine: horizontal;}

div.figure {text-align: center;}

img {
  width: auto;
  height: 100%;
  vertical-align: bottom;
}

div.yokogumi {
  -webkit-text-orientation: sideways-right;
  vertical-align: bottom;
}

div.pagebreak {
  page-break-after: always;
  display: none;
}
