@charset "UTF-8";

body {
  font-family: serif;
  -webkit-writing-mode: vertical-rl;
  line-height: 1.5;
  text-align: justify;
}

nav ol {list-style:none;}

h1, h2, h3, h4, h5, h6 {
  font:normal normal 1.0em sans-serif;
}

h1, h2 {font-size:1.5em;}
h2.author {text-align: right;}

h3 {
  text-indent:3em;
  font-size:1.3em;
}

h4 {
  text-indent:1.6em;
  font-size:1.2em;
}

h5 {
  text-indent:1.8em;
  font-size:1.1em;
}

div.jisage_3 {margin-top:3em;}

div.chitsuki_0 {
  text-align:right;
  margin-right: 0em;
}

em.sesame_dot {
  font-style:normal;
  -webkit-text-emphasis-style:filled sesame;
}

span[dir="ltr"] {-webkit-text-combine:horizontal;}

div.figure {
  text-align: center;
}

img {
  width:auto;
  height:100%;
  vertical-align: bottom;
}

div.yokogumi {
  -webkit-text-orientation:sideways-right;
  vertical-align:bottom;
}
